<div class="bg-gray-200 p-4 block">
  <p class="text-gray-600 text-sm m-2 p-2 tracking-wider">Uir shop / Textile / UIR pride MANCHES COURTES</p>
  <div class="bg-gray-200 m-2 p-3 flex">

    <div class="bg-gray-200 mr-4">
      <img *ngFor="let img of productDetails.imgs; let i = index" [src]="img" alt="Product Image"
           class="cursor-pointer w-[90px] h-[70px] mb-3 rounded-md mx-2" (click)="changeLargeImage(i)">
    </div>

    <div class="bg-gray-200">
      <img id="largeImage" [src]="largeImage" alt="Large Photo" class="min-w-[450px] h-[400px] rounded-xl font-medium">
    </div>


    <div class="ml-20 mt-0 p-3 pt-0 block">
      <div class="m-2">
        <p class="text-6xl text-blue-1000"><b class="italic">UIR pride</b> MANCHES COURTES</p>
        <p class="">{{productDetails.description}}</p>
      </div>
      <div>
        <hr class="mb-4 w-full">
        <p class="font-bold text-blue-1000 text-6xl m-4">{{productDetails.prixProduct}} DHS
        <hr class="mb-4 w-full">
      </div>
      <div>
        <span class="mr-2 text-xl">Tailles :</span>
        <button type="button"
                class="rounded-md border border-gray-300 px-3 py-1 bg-white text-sm hover:text-gray-500 mr-2">
          S</button>
        <button type="button"
                class="rounded-md border border-gray-300 px-3 py-1 bg-white text-sm hover:text-gray-500 mr-2">
          M</button>
        <button type="button"
                class="rounded-md border border-gray-300 px-3 py-1 bg-white text-sm hover:text-gray-500 mr-2">
          L</button>
        <button type="button"
                class="rounded-md border border-gray-300 px-3 py-1 bg-white text-sm hover:text-gray-500 ">
          XL</button>

      </div>
      <select class="border rounded text-sm h-8 w-1 px-2 mr-4">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>

      <button type="button"
              class="rounded-md border border-gray-300 px-3 py-1 bg-blue-1000 text-white text-xl hover:text-gray-500 h-8 w-6 italic m-2">
        J'achète
      </button>


    </div>
  </div>


</div>
