<!-- Heading -->
<div class="text-center py-6">
  <h2 class="text-4xl font-bold text-gray-800">Portez fièrement vos couleurs</h2>
  <p class="text-xl text-gray-600 mt-2">
    Ajoutez une touche de style à votre quotidien que vous soyez au campus ou ailleurs.
  </p>
</div>
<div class="card">
  <p-carousel [value]="products" [numVisible]="4" [numScroll]="4" [circular]="true"  [autoplayInterval]="3000">
    <ng-template let-product pTemplate="item">
      <app-product-carousel [product]="product"></app-product-carousel>
    </ng-template>
  </p-carousel>
</div>
