<nav class="h-24 navbar">
  <div class="max-w-6xl items-center mx-auto h-full">
    <div class="flex justify-between w-full items-center">

      <!-- Logo section -->
      <div class="flex items-center space-x-4">
        <!-- Logo -->
        <div >
          <a href="#" class="flex items-center">
            <img class="h-32" src="assets/images/logo-UIRf.png" alt="logo UIR shop">
          </a>
        </div>

        <!-- Primary Nav -->
        <div class="hidden md:flex items-center space-x-1">
          <a routerLink="/product-card" class="text-gray-800 px-3 py-2 rounded hover:underline focus:underline">UIR-shop</a>
          <a routerLink="/textile" class="text-gray-800 px-3 py-2 rounded hover:underline focus:underline">Textile</a>
          <a routerLink="/goodies" class="text-gray-800 px-3 py-2 rounded hover:underline focus:underline">Goodies</a>
          <a routerLink="/hightech" class="text-gray-800 px-3 py-2 rounded hover:underline focus:underline"  >High tech</a>
        </div>
      </div>

      <!-- Secondary Nav -->
      <div class="hidden md:flex items-center space-x-30">
        <!-- Search input -->
        <div class="flex items-center border-bottom-2  overflow-hidden">
          <input type="search" placeholder="Rechercher un produit" class="px-4 py-1 w-80 border-none">
          <button type="submit" class="bg-white">
            <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                 fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                    d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
            </svg>
          </button>

        </div>

        <!-- Cart icon -->

        <!-- Assume you have a wrapper div for positioning the logo and the counter -->
        <div class="flex items-center">

          <!-- Counter for the Panier -->
          <span class=" p-2 ml-6
              flex items-center justify-center
              h-6 w-6 border-circle bg-red-600
              text-white text-xs font-semibold">
     <!-- Dynamically insert your cart item count here -->
4
      </span>
          <a href="#" class="flex items-center bg-600 text-gray-500 px-3 py-2 text-xl rounded hover:bg-700">
            Panier
          </a>
        </div>

      </div>

      <!-- Mobile menu button -->
      <div class="md:hidden flex items-center">
        <button class="mobile-menu-button">
          <svg class="w-6 h-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
               viewBox="0 0 24 24" stroke="currentColor">
            <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>
