
<div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
  <div class="mb-3">
    <img src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product }}" [alt]="product.name" class="w-6 shadow-2" />
  </div>
  <div>
    <h4 class="mb-1">{{ product.name }}</h4>
    <h6 class="mt-0 mb-3">{{ '$' + product.price }}</h6>
    <p-tag [value]="product.description"></p-tag>
    <div class="mt-5 flex align-items-center justify-content-center gap-2">
    </div>
     <div class="mt-5 flex align-items-center justify-content-center gap-2">
      <button pButton type="button" label="Add to Cart" class="p-button-rounded p-button-success p-button-outlined"></button>
  </div>
    <div >
      <i class="pi pi-box"></i><span class="p-tag p-tag-rounded p-tag-info p-mr-2">Produit en stock</span>
      </div>
</div>
