<footer class="bottom-0 w-full  text-blue-900 h-12 footer">
  <div class=" mx-auto">
    <div class="flex flex-wrap space-x-4 items-center">
      <p class="text-sm mx-auto">&copy; Copyright 2023 UIR shop. Tous droits réservés.</p>
      <div class="flex items-center space-x-4 text-sm mx-auto">
        <a href="#" class="hover:text-gray-300">Conditions générales d'utilisation</a>
        <a href="#" class="hover:text-gray-300">Mentions légales</a>
        <a href="#" class="hover:text-gray-300">FAQ</a>
      </div>
    </div>
  </div>
</footer>
